@charset "UTF-8";

body { 
    background-color: rgb(57, 110, 255);
    font: normal 15pt Arial;
}

header > h1 {
    text-align: center;
    color: white;
}

section { 
    margin: auto;
}

div { 
    text-align: center;
    padding: 15px;
}

div#foto > img {
    height: 250px;
   
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    height: 370px;
    width: 500px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
}

footer { 
    text-align: center;
    color: white;
    font-style: italic;
}